.admin-site {
  .table-container {
    width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px 12px;
    border: 1px solid #ddd;
  }

  .actions {
    td {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    button {
      margin: 0 5px;
    }
  }

  thead {
    background-color: #f2f2f2;
  }
}
