html {
  font-family: "Poppins", sans-serif;
}

button {
  padding: 10px 20px;
  background-color: #0056b3;
  /* Blue background */
  color: #fff;
  /* White text */
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}